<div>
  <p>管理者の方はこちらから</p>
  <%= link_to 'ログイン', new_owner_session_path, class: "login" %>
  <%= link_to '新規登録', new_owner_registration_path, class: "sign-up" %>
</div>
<div>
  <p>スタッフの方はこちらから</p>
  <%= link_to 'ログイン', new_staff_user_session_path, class: "login" %>
  <%= link_to '新規登録', new_staff_user_registration_path, class: "sign-up" %>
</div>