<div>
  <p>管理者の方はこちらから</p>
  <%= link_to 'ログイン', '#', class: "login" %>
  <%= link_to '新規登録', '#', class: "sign-up" %>
</div>
<div>
  <p>スタッフの方はこちらから</p>
  <%= link_to 'ログイン', '#', class: "login" %>
  <%= link_to '新規登録', '#', class: "sign-up" %>
</div>