input {
  outline: solid 1px #5b5b5b;
}

#board-show-main {
  margin: 0;
  height: 800px;
  background-color: #f4f9ff;
  position: relative;
}

.board-show-header {
  background-color: #eaf4ff;
  height: 44px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.board-list-menu {
  margin: 0 2px 0 6px;
}

.board-list-menu-btn {
  padding: 3px;
  transition: transform 0.25s ease-in-out;
}

.board-list-menu-btn:hover {
  transform: scale(1.1);
}

.board-list-menu-btn:active {
  transform: scale(.9);
}

.fa-angle-down {
  color: #555555;
  padding: 3px;
}

.board-list-pulldown {
  position: absolute;
  top: 44px;
  left: 10px;
  border: 1px solid #b8b8b8;
  background-color: #ffffff;
  width: 180px;
  z-index: 2;
  overflow: hidden;
}

.pulldown-list-each-board {
  width: 100%;
  margin-top: -1px;
  border-top: 1px solid #b8b8b8;
}

.pulldown-board-link {
  display: block;
  width: 100%;
  padding: 12px 8px;
  text-decoration: none;
  color: #5b5b5b;
  opacity: 0.7;
  font-size: 16px;
  transition: opacity 0.3s, background-color 0.3s;
}

.pulldown-board-link:hover {
  background-color: #eeeeee;
  opacity: 1;
}

#board-name-text {
  font-size: 22px;
  color: #555555;
  font-weight: bold;
}

.board-name-btn:hover {
  cursor: pointer;
}

.board-name-btn {
  margin: 0 10px 0 0;
  padding: 4px;
}

#invite-btn {
  color: #555555;
  opacity: 0.6;
  padding: 6px;
  transition: opacity 0.3s
}

#invite-btn:hover {
  opacity: 0.8;
  cursor: pointer;
}

#invite-btn:active {
  opacity: 1;
}

.staff-list-wrapper {
  margin-left: 10px;
  display: flex;
}

/* シフト表 */
.week-staff-row .calendar-heading {
  display: none;
}

.week-shift-calendar {
  margin: 40px 40px;
}

.week-shift-head {
  display: flex;
}

.calendar-heading {
  margin: 20px 0 28px 0;
  text-align: center;
}

.week-empty-cell, .week-staff-cell {
  width: 10%;
  padding: 4px;
  border-bottom: 1px solid #5b5b5b;
}

.week-staff-row {
  display: flex;
  height: 57px;
}

.week-shift-head {
  width: 100%;
}

.week-date-row {
  width: calc(90% - 1px);
}

.table.table-striped {
  width: 100%;
  height: 100%;
}

.week-tbody {
  width: 100%;
}

.week-staff-shift {
  width: calc(90% - 1px);
}

.day {
  border: 1px solid #5b5b5b;
  height: 100%;
  width: calc(100% / 7);
}

.week-staff-row .day {
  border-top: none;
  height: 100%;
}

.week-staff-cell {
  height: 100%;
  border-left: 1px solid #5b5b5b;
  font-size: 16px;
}

.calendar-title {
  color: #5b5b5b;
  font-size: 20px;
}

.week-date-cell {
  height: 30px;
  padding: 4px;
}

.week-daily-shift-cell {
  height: 56px;
  padding: 4px;
}

.fa-angle-double-left, .fa-angle-double-right {
  text-decoration: none;
  padding: 4px 2px 2px 2px;
  color: #008db7;
  font-size: 22px;
}

.shift-time {
  text-align: center;
  font-size: 16px;
}

/* モーダル */
.modal-close-btn {
  float: right;
  color:#b8b8b8;
  font-size: 2.5em;
  border: none;
  background: transparent;
  outline: none;
}

.modal-close-btn:hover {
  cursor: pointer;
}

#board-show-modal {
  display: none;
  background-color: rgba(36, 42, 42, 0.6);
  z-index: 5;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  padding-top: 110px;
}

#board-edit-content {
  display: none;
  margin: 0 auto;
  z-index: 6;
  background-color: #ffffff;
  width: 350px;
  height: 250px;
  border-radius: 4px;
  padding: 0 10px;
  box-shadow: 2px 2px 4px gray;
}

#board-invite-content {
  display: none;
  margin: 0 auto;
  z-index: 3;
  background-color: #ffffff;
  width: 350px;
  height: 250px;
  border-radius: 4px;
  padding: 0 10px;
  box-shadow: 2px 2px 4px gray;
}

#invite-staff-submit {
  display: none;
}
