#board-show-main {
  margin: 0;
  height: 100%;
  background-color: #fefefe;
  position: relative;
  padding-top: 40px;
}

/* ----- シフト表共通 --------------------------------------- */
/* shift-title */
.shift-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.shift-title .calendar-heading {
  margin-left: 125px;
  display: flex;
  align-items: center;
}

.calendar-title {
  color: #404040;
  font-size: 16px;
  font-weight: bold;
  margin-left: 10px;
}

.fa-caret-left, .fa-caret-right {
  text-decoration: none;
  padding: 7px 2px 2px 2px;
  color: #8d8d8d;
  font-size: 18px;
  display: block;
  width: 100%;
  height: 100%;
  transition: background-color 0.2s;
}

.shift-prev, .shift-next {
  width: 32px;
  height: 32px;
  background-color: #ececec;
  text-align: center;
  transition: background-color 0.3s;
}

 .shift-prev:hover, .shift-next:hover {
  background-color: #daf1de;
}

.shift-prev:hover a, .shift-next:hover a {
  color: #89c997;
}

.shift-prev:active, .shift-next:active {
  background-color: #f6fff7;
}

.shift-prev {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.shift-next {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

/* 表示切り替えボタン */
.switch-bar {
  width: 28%;
  display: flex;
  justify-content: left;
  margin-right: 5px;
}

.switch {
  width: calc(100% / 3);
  text-align: center;
  background-color: #ececec;
  color: #555555;
}

.switch a {
  font-size: 14px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 6px;
}

#switch-weekly {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

#switch-calendar {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.switch:hover {
  background-color: #daf1de;
  color: #7dcf8f;
}

/* ブロック表示形式 */
.shift-title .table.table-striped, .date-list .calendar-heading, .staff-shift-group .calendar-heading {
  display: none;
}

.date-row .simple-tbody, .staff-shift-group .simple-tbody {
  display: flex;
}

.date-row, .date-list, .staff-shift-list, .staff-shift-group {
  display: inline-block;
}

.date-row, .staff-shift-list {
  display: flex;
}

.month-shift .shift-table {
  display: block;
  overflow-x: scroll;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.day {
  border: 1px solid #dbdbdb;
}

.date-list .day {
  vertical-align: bottom;
  background-color: #efefef;
}

.date-list .day p {
  margin: 6px;
  font-size: 14px;
  font-weight: bold;
  color: #333333;
}

.date-list .today p {
  margin: 6px;
  font-size: 14px;
  font-weight: bold;
  color: #333333;
}

.wday-6 .date-wday-name {
  color: #3b7fff;
}

.wday-0 .date-wday-name {
  color: #ff3b3b;
}

.shift-time {
  text-align: center;
  font-size: 16px;
}

.staff-shift-group .day {
  border-top: none;
}

.empty {
  border-bottom: 1px solid #dbdbdb;
  border-right: 1px solid #dbdbdb;
}

.staff-cell {
  border-left: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
  border-right: 1px solid #dbdbdb;
}

.shift-table .wday-1 {
  border-left: none;
}

.today {
  background-color: #fffef1;
}

.month-shift .date-list .prev-month p, .month-shift .date-list .next-month p {
  color: #a4a4a4;
}

.date-list .today {
  background-color: #d0d0d0;
}

.table.table-striped {
  width: 100%;
  height: 100%;
}

.shift-content {
  width: 100%;
  height: 100%;
  padding: 2px;
}

.each-shift-time-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.one-shift-time {
  position: relative;
  background-color: rgba(178, 231, 205, 0.6);
  border-radius: 3px;
  transition: all 0.3s;
  width: 100%;
  display: flex;
  align-items: center;
}

.shift-time {
  padding: 1px 0;
  width: 100%;
  font-size: 14px;
  color: #555555;
}

.one-shift-time:hover {
  cursor: default;
  background-color: rgba(178, 231, 205, 1);
}

.shift-menu-icon {
  visibility: hidden;
  position: relative;
  text-align: center;
  padding: 0 4px;
}

.one-shift-time:hover .shift-menu-icon {
  visibility: visible;
}

.shift-menu-icon .fa-ellipsis-h {
  font-size: 14px;
  color:#44c360;
  padding-left: 4px;
}

.shift-menu-list {
  position: absolute;
  font-size: 12px;
  background-color: #ffffff;
  width: 66px;
  display: none;
  z-index: 5;
}

.shift-menu-icon:hover .shift-menu-list {
  display: block;
}

.shift-menu-delete, .shift-menu-edit {
  padding: 3px 8px;
  border: 1px solid #dbdbdb;
  cursor: pointer;
  color: #555555;
}

.shift-menu-delete {
  border-top: none;
}

/* シフト追加・編集ページ */

.shift-create-content, .shift-edit-content, #board-edit-content {
  position: absolute;
  top: 160px;
  left: 0;
  right: 0;
  margin: auto;
  display: none;
  background-color: #ffffff;
  z-index: 6;
  padding: 30px 30px 24px 30px;
  width: 400px;
  box-shadow: 2px 2px 8px gray;
  color: #555555;
  border-radius: 6px;
}

.shift-create-content h3, .shift-edit-content h3, #board-edit-content h3, .shift-request-add h3 {
  font-size: 20px;
  margin-bottom: 16px;
}

.form-head-shift-staff-name, .form-head-shift-date {
  font-size: 16px;
  margin: 8px 0;
}

#shift_start_time_4i, #shift_start_time_5i, #shift_end_time_4i, #shift_end_time_5i {
  background-color: #eeeeee;
  padding: 4px 8px;
  border-radius: 4px;
}

#shift_start_time_5i, #shift_request_start_time_5i {
  margin-right: 6px;
}

#shift_end_time_4i, #shift_request_end_time_4i {
  margin-left: 6px;
}

.shift-form-time-group {
  margin: 14px 0;
}

.shift-form-btn-group, .board-edit-btn-group, .staff-form-btn-group {
  margin-top: 18px;
  text-align: right;
}

.shift-edit-form-submit, .shift-create-form-submit, #edit-submit-btn {
  outline: none;
  padding: 8px 16px;
  border-radius: 4px;
  background-color: #7ad08d;
  color: #ffffff;
  font-weight: 500;
  font-size: 14px;
  transition: all 0.3s;
}

.shift-edit-form-cancel, .shift-create-form-cancel, .board-edit-form-cancel {
  outline: none;
  padding: 8px 14px;
  border-radius: 4px;
  color: #7d7d7d;
  font-weight: 500;
  font-size: 14px;
  transition: all 0.3s;
}

.shift-edit-form-submit:hover, .shift-create-form-submit:hover {
  background-color: #41ad59;
}

.shift-edit-form-cancel:hover, .shift-create-form-cancel:hover {
  background-color: #eeeeee;
}

/* ----- 週表示（シフト） ----------------------------------- */
.week-shift {
  width: 1200px;
  margin: 0 auto;
}

.week-shift .shift-table {
  margin: 0 auto;
  width: 100%;
}

.week-shift .date-list .day {
  height: 40px;
  width: calc((1200px - 122px) / 7);
  min-width: 140px;
}

.week-shift .staff-shift-group .day {
  height: 60px;
  width: calc((1200px - 122px) / 7);
  min-width: 140px;
}

.week-shift .empty {
  height: 41px;
  min-width: 120px;
}

.week-shift .staff-cell {
  height: 61px;
  min-width: 120px;
}

/* ----- 月表示（シフト） --------------------------------------- */
.month-shift {
  width: 1200px;
  margin: 0 auto;
}

.month-shift .wday-name {
  display: none;
}

.month-shift .staff-shift-group .day {
  height: 60px;
  min-width: 140px;
}

.month-shift .empty {
  height: 41px;
  min-width: 120px;
}

.month-shift .date-list .day {
  height: 40px;
  min-width: 140px;
}

.month-shift .staff-cell {
  height: 61px;
  min-width: 120px;
}


/* ----- 月表示（カレンダー） ----------------------------------- */
.month-calendar {
  margin: 0 auto;
  width: 1200px;
}

.month-calendar-main .calendar-heading {
  display: none;
}

.month-calendar .shift-title .calendar-heading {
  margin-left: 5px;
}

.month-calendar .simple-calendar {
  margin: 0;
}

.month-calendar .day {
  min-height: 100px;
  height: calc((100vh - 170px) / 5);
}

.month-calendar-main .day {
  width: calc(100% / 7);
  padding: 4px;
}

.month-calendar-main thead:after {
  content: "";
  width: 100%;
  display: block;
  height: 5px;
}

.month-calendar-main .wday-name {
  font-weight: 500;
  color: #6f6f6f;
  font-size: 14px;
  padding: 4px;
}

.month-day{
  color: #555555;
  padding: 2px;
  margin-bottom: 2px;
  font-size: 14px;
}

.wday-0 .month-day{
  color: #ff3b3b;
}

.wday-6 .month-day{
  color: #3b7fff;
}

.prev-month .month-day, .next-month .month-day {
  color: #a4a4a4;
} 

/* モーダル */
.modal-close-btn {
  float: right;
  color:#b8b8b8;
  font-size: 2.5em;
  border: none;
  background: transparent;
  outline: none;
}

.modal-close-btn:hover {
  cursor: pointer;
}

#board-show-modal {
  display: none;
  background-color: rgba(36, 42, 42, 0.1);
  z-index: 5;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  padding-top: 110px;
}

#board-invite-content {
  display: none;
  margin: 0 auto;
  z-index: 6;
  background-color: #ffffff;
  width: 350px;
  height: 250px;
  padding: 0 10px;
  box-shadow: 2px 2px 8px gray;
}

#invite-staff-submit {
  display: none;
}

