<%= render 'shared/header' %>

<div class='board-contents'>
  <div class ='board-list'>
    <h2>シフトボードの一覧</h2>
    <% @boards.each do |board| %>
      <%= board.name %>
    <% end %>
  </div>
  <%= link_to 'シフトボードを作成する', new_board_path %>
</div>

